  <section>
    <% @restaurants.sample(1).each do |restaurant| %>
      <div>
        <h2><%= link_to restaurant.name, "http://#{restaurant.website}" %> <%= restaurant.description %></h2>
        <p><%= restaurant.cuisine%> <%= restaurant.food_type%> | <%= restaurant.price%> </p>
        <p>Fica na: <address><%= restaurant.address %></address></p>
        
      </div>
      <div>
        <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
      </div>
    <% end %>
  </section>