  <section id="restaurant">
    <% @restaurants.sample(1).each do |restaurant| %>
      <div>
        <h2><%= link_to restaurant.name, "http://#{restaurant.website}" %> <%= restaurant.description %></h2>
        <p><%= restaurant.cuisine%> <%= restaurant.food_type%> | <%= restaurant.price%> </p>
        <p>Fica na: <address><%= restaurant.address %></address></p>
        
        <% if restaurant.photo_url?%>
          <%= image_tag "#{restaurant.photo_url}", :size => "260x180" %>
        <% end %>
      </div>
      <div>
        <%= link_to 'Atualize os dados deste lugar', edit_restaurant_path(restaurant) %>
      </div>
    <% end %>
  </section>