<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Dados:</strong>
  <%= @restaurant.description %>
  <%= @restaurant.website%>
  <%= @restaurant.address%>
  <%= @restaurant.price%>
  <%= @restaurant.cuisine%>
  <%= @restaurant.food_type%>
  <%= @restaurant.photo_url%>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', root_path %>