<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @restaurant.description %>
  <%= @restaurant.website%>
  <%= @restaurant.price%>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', root_path %>
